.Rproj.user
*.Rhistory
.RData
.Ruserdata
census/old
census/outputs
figures/
census/admin/
census/outputs-raw/
survey/data
survey/questionnaires
*.docx
*.doc
*.xlsx
*.pdf
*.html
*.htm
census/data
census/data-raw
reports/HAI-report
